<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <br>
            <div class="container">
                <br>
                <h1> Perguntas </h1>
                <hr>
                <% pergunta.forEach(p => { %>
                    <div class="card">
                        <div class="card-body">
                            <%= p.titulo%> <br>
                        </div>
                        <div class="card-footer">
                            <a href="/pergunta/<%= p.id%> ">
                                <button class="btn btn-primary">
                                    responder
                                </button>
                            </a>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <%- include('partials/foot.ejs') %>