<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <br>
            <div class="container">
                <h1>
                    <%= pergunta.titulo%>
                </h1>
                <h4>
                    <%= pergunta.descricao%>
                </h4>
                <hr>
            </div>
            <%- include('partials/foot.ejs') %>